.moveCardList {
    display: flex;
    margin: 10px 0 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 70px;
}

.moveCardList__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-column-gap: 20px;
    grid-row-gap: 32px;
    margin: 0 0 80px;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #424242;
    padding-top: 80px;
}

.moveCardList__button {
    max-width: 1140px;
    width: 100%;
    height: 36px;
    border: none;
    background: #2F2F2F;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    justify-content: center;
    cursor: pointer;
    margin: 0 0 80px;
}

.moveCardList__button-hidden {
    display: none;
}

@media screen and (max-width: 900px) {
    .moveCardList {
        padding: 0 30px;
    }

    .moveCardList__content {
        grid-template-columns: repeat(2, 1fr) ;
    }
}

@media screen and (max-width: 600px) {
    .moveCardList {
        padding: 0 30px;
    }

    .moveCardList__content {
        grid-template-columns: repeat(2, 1fr) ;
    }
}

@media screen and (max-width: 430px) {
    .moveCardList {
        padding: 0 10px;
    }

    .moveCardList__content {
        grid-template-columns: 1fr ;
        padding-top: 50px;
    }
}
