.moveCardList {
    display: flex;
    /*width: 100%;*/
    margin: 10px 0 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.moveCardList__container {
    padding: 0 70px;
}

.moveCardList__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 32px;
    margin: 70px 0 80px;
    /*max-width: 1140px;*/
    /*width: 100%;*/
}

.moveCardList__button {
    max-width: 1140px;
    width: 100%;
    height: 36px;
    border: none;
    background: #2F2F2F;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    justify-content: center;
    cursor: pointer;
    margin: 0 0 160px;
}
