.portfolio {
    color: #FFFFFF;
    display: flex;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    justify-content: center;
    margin: 0 70px;
    padding: 0;
}

.portfolio__header {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin: 0 0 50px ;
}

.portfolio__nav {
    margin: 0 0 125px;
    list-style-type: none;
    padding: 0;
}

.portfolio__list {
    border-bottom: 1px solid #424242;
}

.portfolio__list:last-of-type {
    border-bottom: none;
}

.portfolio__link {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.portfolio__text {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 20px 0 19px;
    padding: 0;
}

