.aboutMe {
    color: #FFFFFF;
    display: flex;
    margin: 0 0 100px 0;
    padding: 0 70px;
}

.aboutMe__main {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.aboutMe__content {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    border-top: 1px solid #DADADA;
    justify-content: space-between;
    height: 100%;
    padding: 66px 0 0;
}
.abotMe__profile {
    max-width: 600px;
    margin: 0 10px 0 0;
}

.aboutMe__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0 0 18px 0;
    max-width: 600px;
}

.aboutMe__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    max-width: 600px;
    margin: 0 0 26px;
}

.aboutMe__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    max-width: 600px;
    margin: 0;
}

.aboytMe__avatar {
    width: 100%;
    max-width: 270px;
    height: 327px;
    margin: 0;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
}

.aboutMe__nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 99px 0 0;
}

.aboutMe__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0 20px 0 0;
    border: none;
    background-color: #202020;
    color: #FFFFFF;
    padding: 0;
}

.aboutMe__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .aboutMe {
        padding: 0 50px;
    }

    .aboutMe__subtitle {
        font-size: 40px;
        line-height: 40px;
        margin: 66px 0 16px;
    }

    .aboutMe__text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 20px;
    }

    .aboutMe__paragraph {
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
    }

    .aboutMe__nav {
        margin: 87px 0 0;
    }

    .aboytMe__avatar {
        max-width:  255px;
        height: 307px;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .aboutMe {
        padding: 0 14px;
    }

    .aboutMe__content {
        flex-direction: column;
        align-items: center;
        padding: 60px 0 0;
    }

    .aboutMe__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 40px 0 20px;
    }

    .aboutMe__text {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 20px;
    }

    .aboutMe__paragraph {
        font-size: 11px;
        line-height: 16px;
    }

    .aboutMe__nav {
        margin: 40px 0 0;
    }

    .aboutMe__link {
        margin: 0 26px 0 0;
    }

    .aboytMe__avatar {
        max-width:  292px;
        height: 352px;
        width: 100%;
        margin: 0;
    }

}
